{% set attributes = attributes ? attributes : create_attribute() %}

{% set classes = [
  'usa-button',
  'usa-button--' ~ link_button.style|default('primary'),
]|merge(classes|default([''])) %}

{% set link_attributes %}
  {{ attributes.addClass(classes) }}
  href="{{ link_button.url }}"
  {% if link_button.aria_label %}
    aria-label="{{ link_button.aria_label }}"
  {% endif %}
{% endset %}

<a {{ link_attributes }}>
  {{- link_button.text -}}
</a>
